body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.login-form{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 5px 5px 5px rgba(221, 16, 16, 0.2);
    backdrop-filter: blur(0px);
    border-radius: 10px;
}

.change-lang{
    position: absolute;
    left: 20px;
    top: 20px;
}

.dashboard{
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    position: absolute;
}

.tableUser{
  
    background-color: red;
}


.errorCode .MuiFormHelperText-root{
    color: red;
}

.qrCode{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.appLogo {
    display: flex;
    height: 60px;
    width: 500px;
    justify-content: center;
    margin-top: 20px;
}

.appLogo a img{
    height: 100%;
    width: 100%;
}


.qrImg{
    display: flex;
    padding-top: 0;
    position: relative;
}

.footerNext{
    position: absolute;
    bottom: -30px;
}

.qrCode::-webkit-scrollbar {
    display: none;
}

.container {
    background-color: aliceblue;
    
  }

  
.update-form{
    padding: 30px;
}

.inputForm{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}


.button-form{
     display: flex;
     justify-content: space-evenly;
}

.user-setting{
    background-color: rgb(81, 126, 134);
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 10px;
    border-radius: 20px;
    position: relative;
}

.img-user img{
    display: flex;
    border-radius: 20px;
    width: 70px;
    height: 56px;
}

.username ul{
    list-style: none;
    padding: 0;
}

.dropdown-menu{
    background-color: aliceblue;
    color: black;
    display: none;
    position: absolute;
    top: 0;
    left: 10px;
}

.user-setting:hover .dropdown-menu{
    display: block;

}

#basic-button{
    color: white;
    padding: 0;
    margin-left: 20px;
}


.user-setting2{
    position: relative;
}

#basic-menu{
    margin-top: 10px;
}

#basic-menu2{
    margin-top: 10px;
}

